<ion-header>
    <ion-toolbar>
      <ion-title>Dodawanie kursu</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-grid>
      <form id="offerForm" [formGroup]="offerFG">
    
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Tytuł</ion-label>
            <ion-input type="text" formControlName="title" id="title" name="title" class="form-control"></ion-input>
    
          </ion-item>
          <ion-label style="margin-top:10px;" *ngIf="offerFG.controls['title'].errors?.required&&offerFG.controls['title'].touched">
           Tytuł jest wymagany.
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Opis</ion-label>
            <ion-textarea formControlName="description" id="description" name="description" class="form-control"></ion-textarea>
    
          </ion-item>
          <ion-label style="margin-top:10px;" *ngIf="offerFG.controls['description'].errors?.required&&offerFG.controls['description'].touched">
           Opis jest wymagany.
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Deklarowana kwota</ion-label>
            <ion-input type="number" step="0.01" formControlName="declaredCost" id="declaredCost" name="declaredCost" class="form-control"></ion-input>
    
          </ion-item>
          <ion-label style="margin-top:10px;" *ngIf="offerFG.controls['declaredCost'].errors?.required&&offerFG.controls['declaredCost'].touched">
  Deklarowana kwota jest wymagana.
          </ion-label>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
      <ion-button expand="block" (click)="addOffer()">Dodaj ofertę kursu</ion-button>
    
        </ion-col>
      </ion-row>
      
      </form>
    </ion-grid>
    </ion-content>
    